<app-header heading="JULEZ" class="julez-heading-style"></app-header>

<img
  src="assets/images/photos/standing-with-phone-1.jpg"
  alt="person-standing-with-phone"
  class="fixed-background-image"
/>

<app-row>
  <app-column>
    <app-primary-song></app-primary-song>

    <div>
      <div class="spotify-follow-button box-shadow-fade">
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/artist/5TwmCjBnk2N1wSpgfWxDHP?utm_source=generator"
          width="100%"
          height="352"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </app-column>
</app-row>

<div class="spacer"></div>
